<div class="text-center">
    <form class='form-signin' (ngSubmit)="updateUser()">
        <h1 style="margin-top: 10%" class="h3 mb-3 font-weight-normal">Benutzer ändern</h1>
        <small style="color:red;" [hidden]="!error">{{error}}</small>
        <div style="margin: 10%">
            <label for="InputName" >Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="name" id="InputName">
        </div>
        <div style="margin: 10%">
            <label for="email" >Neue E-Mail</label>
            <input type="email" name="email" class="form-control" [(ngModel)]="email" id="email">
        </div>
        <div style="margin: 10%">
            <label for="password" >Passwort zur Bestätigung eingeben</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Benutzer ändern">
      </form>
      <form class='form' (ngSubmit)="updatePassword()">
          <h1 style="margin-top: 10%" class="h3 mb-3 font-weight-normal">Passwort ändern</h1>
          <div style="margin: 10%">
              <label for="password_old">altes Passwort eingeben</label>
              <input type="password" class="form-control" name="password_old" [(ngModel)]="password_old" id="password_old">
          </div>
          <div style="margin: 10%">
              <label for="password_new">neues Passwort eingeben</label>
              <input type="password" class="form-control" name="password_new" [(ngModel)]="password_new" id="password_new">
          </div>
          <div style="margin: 10%">
              <label for="password_new_confirm">Passwort bestätigen</label>
              <input type="password" class="form-control" name="password_new_confirmation" [(ngModel)]="password_new_confirmation" id="password_new_confirmation">
          </div>
          <input class="btn btn-primary" type="submit" value="Passwort ändern">
      </form>
</div>

