.all{
    margin-top:4%; 
}
.right{
    display: flex;
    justify-content: flex-end;
}
.spb{
    display: flex;
    justify-content: space-between;
}
.post{
    margin-bottom: 10%;
}
.posts{
    margin-bottom: 2%;
}
p{
    margin-right:7px;
    
}
.name{
    margin-bottom: 20px;
}
.but{
    padding-top:0px;
    padding-bottom:0px;
    font-size: 12px;
    width: 150px;
    height: 30px;
}
.mar{
    margin-top: 2%;
    margin-bottom: 2%; 
}
.btn-primary{
    background-color: #4D4FFC;
    border: #4D4FFC;
  }
  .card-header{
      background-color: #4D4FFC;
      color:white;
  }
  .btn-secondary{
    background-color:rgb(137, 139, 255);
  }